@tailwind base;
@tailwind components;
@tailwind utilities;

/* laisser MUI (CssBaseline) gérer la majorité du reset */
html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

/*  rendu plus propre des textes */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Empêche les images/vidéos de déborder */
img,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* meilleur rendu sur les inputs */
input,
button,
textarea,
select {
  font: inherit;
}
